@media (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .info {
        margin-bottom: 7px;
        max-width: 140px;
        max-height: 70px;
    }
    .span_icon {
        font-size: 20px !important;
        line-height: 23px !important;
    }
    .information_block {
        margin-bottom: 90px !important;
    }
    .information_block .img_me {
        height: 420px;
        width: 380px;
    }
}

@media (max-width: 768px) {
    .info {
        max-width: 140px;
        max-height: 70px;
    }
    .information_block {
        margin-bottom: 90px !important;
    }
    .information_block .img_me {
        height: 370px;
        width: 320px;
    }
    .image_skill img {
        width: 290px;
        height: 380px;
    }
    .list {
        width: 250px;
    }
    .skills .title-skill {
        font-size: 40px;
    }
    .btn {
        max-width: 250px;
    }
    .image_skill {
        width: 290px;
        height: 380px;
    }
    .cards {
        width: 645px !important;
    }
}

@media (max-width: 540px) {
    .information_block {
        margin-bottom: 90px !important;
    }
    .information_block .img_me {
        height: 350px;
        width: 290px;
    }
    .skills {
        margin-top: 50px;
    }
    .image_skill img {
        width: 290px;
        height: 380px;
    }
    .list {
        width: 250px;
    }
    .skills .title-skill {
        font-size: 40px;
    }
    .btn {
        max-width: 250px;
    }
    .image_skill {
        width: 290px;
        height: 380px;
    }
    .cards {
        width: 508px !important;
    }
    .block_contacts {
        margin-top: 10px !important;
        max-height: 50px;
    }
}

@media (max-width: 425px) {
    .header .header-img {
        justify-content: space-between;
    }
    .sub_title {
        font-size: 27px !important;
    }
    .main_information {
        height: 200px !important;
    }
    .information {
        width: 100%;
    }
    .block_icon {
        width: 109px !important;
    }
    .span_icon {
        max-width: 95px;
        font-size: 11px !important;
        line-height: 13px !important;
    }
    .info {
        margin-bottom: 3px;
        max-width: 60px;
        max-height: 40px;
    }
    .information_block {
        margin-bottom: 90px !important;
    }
    .information_block .img_me {
        margin-bottom: 40px;
    }
    .image_skill img {
        width: 270px;
        height: 350px;
    }
    .list {
        width: 250px;
    }
    .skills {
        max-height: 350px;
    }
    .skills .title-skill {
        font-size: 40px;
    }
    .btn {
        max-width: 250px;
    }
    .image_skill {
        width: 270px;
        height: 350px;
    }
    .cards {
        width: 100% !important;
    }
    .text-i_footer {
        text-align: center;
    }
    .block_contacts {
        display: flex;
        flex-wrap: wrap;
    }
    .footer .contacts {
        display: flex;
        align-items: center;
        align-self: center;
    }
}

@media (max-width: 411px) {
    .sub_title {
        font-size: 27px !important;
    }
}

@media (max-width: 375px) {
    .imega_header {
        max-width: 180px;
        max-height: 80px;
    }
    .text-i_footer {
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 360px) {
    .imega_header {
        max-width: 172px;
        max-height: 78px;
    }
    .text-i_footer {
        max-width: 100%;
        text-align: center;
    }
    .footer .contacts {
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .header {
        height: 110px !important;
    }
    .header .header-img {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
    }
    .sub_title {
        font-size: 27px !important;
    }
    .information_block .img_me {
        height: 280px;
        width: 230px;
    }
    .image_skill img {
        width: 230px;
        height: 300px;
    }
    .skills {
        margin-top: 20px;
    }
    .information_block .img_skill {
        margin-top: 0;
    }
    .image_skill {
        width: 230px;
        height: 300px;
    }
    .text {
        margin-top: 0 !important;
    }
    .list {
        width: 230px;
    }
    .list ul {
        width: 160px;
        margin: 0 auto;
    }
    .list ul>li {
        font-size: 14px;
    }
    .skills .title-skill {
        margin-bottom: 25px;
        font-size: 30px;
    }
    .block_link-btn {
        font-size: 15px;
    }
    .btn {
        max-width: 230px;
    }
    .list-title {
        font-size: 30px !important;
    }
    .cards .block_cards {
        width: 250px;
        height: 350px;
    }
    .cards .card_title {
        height: 80%;
        font-size: 19px;
    }
    .cards .card .link_card {
        margin: 10px 4px;
        padding: 6px;
        width: 100px;
        height: 30px;
    }
    .cards .link_card a {
        font-size: 15px;
        height: auto;
        width: auto;
    }
    .block_contacts {
        display: flex;
        flex-wrap: wrap;
    }
    .footer .block_contacts {
        margin-top: 5px !important;
        font-size: 13px;
    }
}

@media (max-width: 280px) {
    .sub_title {
        font-size: 30px !important;
    }
    .information_block {
        box-shadow: none !important;
    }
    td {
        font-size: 13px;
    }
}