* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    background: linear-gradient(360deg, rgb(93 92 91 / 49%), rgba(94, 204, 255, 0.651));
}

a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    color: #fff;
}

h3 {
    text-shadow: -3px -3px 5px black;
    text-align: center;
}


/* header */

.header {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.header .description {
    position: relative;
    top: 0;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}


/* нижняя полоска */

.description::after {
    content: '';
    display: block;
    width: 1500px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.41);
    margin-top: 100px;
    margin-left: 20px;
    margin-left: -14%;
    box-shadow: 1px 1px 9px black, 0 0px 0.2em rgba(19, 0, 255, 0.561);
    ;
}

.header .description_block {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    height: 600px;
    background: url("../img/img-360.png") no-repeat center / 1200px 600px;
    box-shadow: 0 0px 20px 10px rgb(159, 220, 248) inset, 0 0 20px 10px rgb(158, 220, 249) inset, -20px 10px 20px 20px rgba(255, 255, 255, 0.22) inset;
    border-radius: 150px 0;
}

.header .information {
    position: relative;
    top: 15%;
    left: 3%;
}

.logo {
    margin-bottom: 50px;
    font-size: 60px;
    text-shadow: 1px 1px 9px black, 0 0px 0.2em rgba(19, 0, 255, 0.561);
}

.sub_title {
    margin-bottom: 20px;
    font-size: 20px;
}

p {
    line-height: 20px;
}


/* main */

.main {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto 100px;
    padding-bottom: 50px;
}

.container {
    width: 100%;
    /* max-width: 1200px; */
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
}


/* information-block */

.information_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.561);
    border-radius: 50px;
    max-width: 1100px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.img_me {
    border: 12px ridge #8d8d8da1;
    border-radius: 90% 10% 84% 16% / 28% 75% 25% 72%;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.561);
}

.title-skill {
    font-size: 40px;
}

.skills {
    width: 30%;
    height: 240px;
}

.list {
    margin-bottom: 50px;
}

ul>li {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgba(156, 156, 156, 0.719);
}

.link_btn {
    width: 300px;
    height: 50px;
    background-color: rgb(119, 119, 119);
    box-shadow: 0px 3px 5px 5px rgba(13, 13, 13, 0.84);
    border-radius: 5px;
    text-align: center;
    padding: 15px;
}

.link_btn:active {
    box-shadow: none;
}

.link_btn:hover {
    background-color: rgba(206, 206, 206, 0.815);
    color: #000;
}


/* block_list */

.block_list {
    margin-bottom: 100px;
}

.list-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.price_list {
    width: 100%;
    height: auto;
}

.table {
    width: 100%;
}

td {
    border: 1px solid #fff;
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: rgb(179, 179, 179);
}


/* my_works */

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 965px;
    height: 100%;
}

.block_cards {
    /* width: 280px; */
    width: 301px;
    height: 400px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    transition: all 0.4s cubic-bezier(.99, .99, 0, .61);
    padding: 1em;
    color: #fff;
    overflow: hidden;
}

.card_title {
    text-shadow: 1px 4px 0px rgba(0, 0, 0, 0.63);
    height: 84px;
}

.card_snippet {
    position: relative;
    line-height: 1.2em;
    height: 190px;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    overflow: hidden;
}

.card .link_card {
    padding: 9px;
    width: 114px;
    height: 40px;
    margin: 20px 5px;
    background: #0099cc;
    float: right;
    text-align: center;
    border-radius: 0.25em;
    box-shadow: 0px 5px 5px 5px rgba(13, 13, 13, 0.84);
}

.link_card a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.block_cards:hover .bottom {
    transition: all 0.4s cubic-bezier(.99, .99, 0, .61);
    bottom: 0px;
}

.block_cards:hover {
    transform: translateY(-10px);
    transition: all 0.5s ease;
}

.link_card:hover {
    background-color: rgba(0, 54, 233, 0.445);
    color: #000;
    border: 1px inset rgba(0, 54, 233, 0.726);
}

.link_card:active {
    box-shadow: none;
}

.bottom {
    bottom: -420px;
}

.card-1 {
    background: url("..///img/работы/1.jpg");
}

.card-2 {
    background: url("..///img/работы/2.jpg");
}

.card-3 {
    background: url("..///img/работы/3.jpg");
}

.card-4 {
    background: url("..///img/работы/4.jpg");
}

.card-5 {
    background: url("..///img/работы/5.jpg");
}

.card-6 {
    background: url("..///img/работы/6.jpg");
}


/* footer */

.footer {
    width: 100%;
    height: 152px;
    background-color: rgb(99 99 99);
    margin: 0 auto;
    padding: 10px;
}

.block_contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 120px;
}

.contacts {
    display: flex;
    align-items: flex-end;
}

.icon {
    margin-right: 5px;
}